<header>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-white shadow-sm border-bottom"
  >
    <div class="container-fluid px-4 py-3">
      <a href="#" class="navbar-brand text-primary fw-bold">
        <i class="bi bi-book"></i> Library Management System
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li
            class="nav-item"
            *ngIf="isLoggedIn() && userService.roleMatch(['Admin', 'Staff'])"
          >
            <a
              routerLink="/books"
              routerLinkActive="active-link"
              class="nav-link text-secondary fw-semibold"
            >
              Book List
            </a>
          </li>

          <li
            class="nav-item"
            *ngIf="!isLoggedIn()"
          >
            <a
              routerLink="/books-user"
              routerLinkActive="active-link"
              class="nav-link text-secondary fw-semibold"
            >
              Book List
            </a>
          </li>

          <li class="nav-item" *ngIf="userService.roleMatch(['Admin', 'Staff'])">
            <a
              routerLink="/create-book"
              routerLinkActive="active-link"
              class="nav-link text-secondary fw-semibold"
            >
              Add Book
            </a>
          </li>
          <li class="nav-item" *ngIf="userService.roleMatch(['Admin'])">
            <a
              routerLink="/users"
              routerLinkActive="active-link"
              class="nav-link text-secondary fw-semibold"
            >
              User List
            </a>
          </li>
          <li class="nav-item" *ngIf="userService.roleMatch(['Admin'])">
            <a
              routerLink="/register-user"
              routerLinkActive="active-link"
              class="nav-link text-secondary fw-semibold"
            >
              Register User
            </a>
          </li>
          <li class="nav-item" *ngIf="userService.roleMatch(['Member'])">
            <a
              routerLink="/borrow-book"
              routerLinkActive="active-link"
              class="nav-link text-secondary fw-semibold"
            >
              Borrow Books
            </a>
          </li>
          <li class="nav-item" *ngIf="userService.roleMatch(['Member'])">
            <a
              routerLink="/return-book"
              routerLinkActive="active-link"
              class="nav-link text-secondary fw-semibold"
            >
              Return Books
            </a>
          </li>
        </ul>

        <div class="d-flex align-items-center">
          <button
            *ngIf="isLoggedIn()"
            (click)="logout()"
            class="btn btn-outline-danger btn-sm"
          >
            Logout
          </button>
          <button
            *ngIf="!isLoggedIn()"
            routerLink="/login"
            class="btn btn-outline-primary btn-sm"
          >
            Login
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
